body {
    width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat,sans-serif;
}

h1 {
	font-size: 50px;
	margin-top: 20px;
	margin-bottom: 30px;
	line-height: 110%
	font-weight: 700;
	text-align: center;
	-webkit-font-smoothing: antialised;
	text-rendering: optimizeLegibility;
}

h2 {
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 1.5;
	font-weight: 700;
	text-align: center;
	-webkit-font-smoothing: antialised;
	text-rendering: optimizeLegibility;
}

h3 {
	color: #c52a30;
	font-size: 20px;
	font-weight: 700!important;
	line-height: 1.5;
	-webkit-font-smoothing: antialised;
	text-rendering: optimizeLegibility;
}

a {
	color: #c52a30;
	cursor: pointer;
}

h4 {
	font-size: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 1.5;
	font-weight: 400;
	text-align: center;
	-webkit-font-smoothing: antialised;
	text-rendering: optimizeLegibility;
}

h5 {
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 1.5;
	font-weight: 700;
	text-align: left;
	-webkit-font-smoothing: antialised;
	text-rendering: optimizeLegibility;
}

h6 {
	font-size: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 1.5;
	font-weight: 400;
	text-align: center;
}

strong {
    color: rgb(68, 68, 68);
}

a:hover {
	color: #c52a30;
	text-decoration: underline;
}

.lead {
	font-size: 20px;
	color: #444;
}

.button {
    color: #ffffff;
    background-color: #c52a30;
    border: none;
    padding: 7px 40px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.button:hover {
    color: #ffffff;
    background-color: #921F24;
}

.button:focus, .button:active {
    outline: 3px auto #c52a30;
}

.img-height-fixed {
    height: 400px;
}

.form-control:focus, form.email:active, form.email:focus {
    box-shadow: none;
    border-color: #c52a30;
}

section {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

footer {
    margin-top: 1rem;
}

.nav-link:hover, .nav-link:focus {
    color: #C52A30 !important;
}

.img-logo {
    padding-top: 20px;
    max-height: auto;
    max-width: 15vw;
}

.container_team-cards {
    padding-top: 0;
    padding-bottom: 0;
    min-width: 200px !important;
}

@media (max-device-width : 760px) {
    h1, h2, h3, h4, h5, h6, p, .lead {
        padding: 0 10px 0 10px;
    }

    .img-logo {
        max-height: auto !important;
        max-width: 20vw !important;
    }
}
